p{
    color: black;
}

h1{
    font-weight: bolder;
}

h3{
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5{
    font-family: sans-serif;
}

.header{
    text-align: center;
    display: block;
    margin: auto;
}